.nav {
    padding: 30px;
    margin-bottom: 40px;
  }

.nav-title {
  display:inline-flex;
  text-decoration: none;
  align-items: center;
  color:black;
  margin:20px;
  margin-top: 30px;
  font-size: 50px;
  font-weight: 800;
  color:coral;
}
  
  .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
  .nav-home {
    display: flex;
    flex-direction: row;
  }
  
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons > *,
  .home-button {
    margin-left: 10px;
    background-color: green;
    color: white
  }
  
  button:hover {
    cursor: pointer;
  }
  
  @media (min-width: 200px) and (max-width: 390px) {
    .buttons {
      flex-direction: column;
    }
    button {
      margin-bottom: 10px;
    }
  }