<!-- Displays an all movies header
with a view profile button -->
<app-navigation-bar></app-navigation-bar>
    
<!-- displays card views of each movie with 
clickable links for details, genre, and director info-->
<div class='card'>
    <mat-card *ngFor="let movie of movies;">
        <mat-card-header>
        <mat-card-title style="display: flex;">{{movie.Name}}</mat-card-title>
        </mat-card-header>
        <img src={{movie.ImageUrl}} alt= {{movie.Name}} />
        <mat-card-actions>
            <button
                mat-button
                color="basic"
                (click)="showGenreDialog(movie.Genre.Name, movie.Genre.Description)"
            >
                Genre
            </button>
            <button
                mat-button
                color="basic"
                (click)="showDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
            >
                Director
            </button>
            <button
                mat-button
                color="basic"
                (click)="showDetailsDialog(movie.Name, movie.ImageUrl, movie.Description,movie.Director.Name, movie.Genre.Name)"
            >
                Show Details
            </button>
            <button
            mat-button
            color="basic"
            (click)= "addFavorites(movie._id, movie.Name)">
            <mat-icon>favorite_border</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>